fastapi
uvicorn
sqlalchemy
pydantic
python-multipart
python-docx
pypdf
langchain
langchain-community
langchain-core
langchain-groq
langchain-huggingface
sentence-transformers
python-dotenv
psycopg2-binary
requests
faiss-cpu
tiktoken
reportlab
